/*  ------------ Basics
------------------------------------------- */

#logo {
    width: 100%;
}

p {
    font-weight: 400;
}

/*  ------------ Overrides
------------------------------------------- */


body, button, input, select, textarea {
    color: #1f232b;
    font: 400 0.75rem/1.5 "Lato","proxima-nova","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial",sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #1f232b;
    clear: both;
    font: 300 2.2rem/1.5 'Lato',"Skolar","ff-tisa-web-pro","Georgia",serif;
}
a {
    font-weight: 500;
}
.single #main {
    max-width: 700px;
}


/*  ------------ Header
------------------------------------------- */

.admin-bar .navigation-main li.home-link {

}
.navigation-main .current-menu-item.home-link > a, .navigation-main .current_page_item.home-link > a, .featured-image .navigation-main .home-link > a, body:not(.single) .home-link > a:hover {
    color: inherit;
}
.menuli.home-link {
    left: 0;
    position: static;
    top: 0;
}
body:not(.single) .home-link > a {
    text-shadow: none;
}
.menu-toggle, .navigation-main .widget-handle {
    position: absolute;
    right: 24px;
    top: 54px;
    color: #68adc3;
}
.single .entry-header {
    display: none;
    bottom: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 3.5em;
    position: absolute;
}
.site-branding {
    top: 1em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    max-width: 100%;
    padding: 3.5em;
    position: absolute;
}

.navigation-main {
    margin: 0 0 2em;
}
#secondary .widget_nav_menu {
    width: 100%;
}
 .menu, .nav-menu {
    float: left;
    width: 95%;
    width: -webkit-calc(100% - 1.3rem);
    width: calc(100% - 1.3rem);
    padding-left: 0px;
    position: relative;
    left: 8px;
}
.menu li {
    float: left;
    display: inline-block;
    font-size: 0.6875rem;
    font-weight: 900;
    margin-bottom: 0em;
    margin-right: 1.5em;
    padding-bottom: 0.25em;
    position: relative;
    text-transform: uppercase;
}
.menu li a {
    border-bottom: 5px solid transparent;
    color: #1f232b;
    display: block;
    text-decoration: none;
    font-weight: 600;
    margin-top: 4px;
}
.menu li:hover > a {
    border-bottom: 5px solid #68adc3;
    color: #1f232b;
}





.entry-permalink {
    float: right;
}
.single .entry-permalink {
    display: block;
}

.entry-preview .entry-permalink {
    display: none;
}

.navigation-main a {
    border-bottom: 5px solid transparent;
    color: #1f232b;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

body:not(.single) .home-link > a {
    color: inherit;
    text-shadow: 0;
}
.navigation-main .current_page_item > a, .navigation-main .current-menu-item > a {
    color: inherit;
    border-bottom: 5px solid #68adc3;
}


/*  ------------ Home
------------------------------------------- */


body:not(.archive):not(.search) .hentry:first-of-type + .entry-preview, .archive .entry-preview:first-of-type, .search .entry-preview:first-of-type {
    border-top: 0;
    margin-top: 0;
    padding-top: 20px;
}

.site-main,  {
    width: 100%;
}

.home #primary #post-1 {
    display: none;
}

.home article.entry-preview {
    float: left;
    width: 43%;
    padding: 20px;
}


.entry-preview .featured_img {
    display: block;
    width: 100%;
    height: 400px;
}
.entry-preview .entry-header {
    display: inline-block;
    max-width: 100%
}
.entry-preview .entry-title {
    line-height: .8;
}
.entry-title, .entry-title a {
    color: #1f232b;
    font-weight: 400;
    font-size: 18px;
}
.entry_info {
    min-height: 130px;
}
.entry-preview img {
    height: 425px;
}



/*  ------------ Footer
------------------------------------------- */


.paging-navigation .nav-links {
    clear: both;
    padding: 20px;
}


/*  ------------ Single (Post)
------------------------------------------- */

.single_home {
    position: relative;
    top: 40px;
    /* left: 40px; */
    padding: 3.5em;
}
.single_home #logo {
    width: 30%;
}
.single .entry-title, .page .entry-title, .site-header .post-navigation a {
    color: #1f232b;
    font-weight: 500;
}

.title_section {
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 1em;
}

.page_author a {
    color: #1f232b;
    font-size: .6em;
    font-weight: 300;
    font-style: italic;
}

.title_section hr {
    margin: 40px 0;
    font-size: 12px;
    color: #1f232b;
}
/* Glyph, by Harry Roberts */
hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #1f232b;
    color: #1f232b;
    text-align: center;
}
hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

blockquote {
    border-left: 5px solid #68adc3;
}
footer.entry-meta {
    font-style: italic;
}
footer.entry-meta a {
    color: #1f232b;
    font-size: 1.3em;
    font-weight: 300;
}
.post-edit-link {
    display: none;
}

.post .entry-meta {
    border-top: 1px solid #CCC;
    padding-top: 40px;
}
.entry-preview .entry-meta {
    border-top: none;
    padding-top: 0px;
    font-size: 18px;
    line-height: 1.3;
    display: block;
    margin-top: 10px;
}
.post .entry-meta,
.post .entry-meta a {
    font-weight: 300;
    font-size: 1em;
}
.single .post .entry-meta {
    font-size: .8em;
}


/*  ------------ Media Queries
------------------------------------------- */

@media (max-width: 641px) {
    .site-header {
        min-height: 100%;
    }
}

@media (max-width: 767px) {
    .site-main {
        width: 100%;
    }
    .home article.entry-preview {
        width: 100%;
        padding: 20px 0;
    }
    .entry-preview .entry-title {
        height: initial;
    }
}


@media (min-width: 767px) and (max-width: 1023px) {
    .home article.entry-preview {
        width: 43%;
    }
}
@media (min-width: 1024px) and (max-width: 1025px) {
    .site-main {
        width: 100%;
    }
    .home article.entry-preview {
        width: 40%;
    }
    .entry_info {
        min-height: 154px;
    }
}
@media (min-width: 1360px) {
    #main {
        max-width: 700px;
    }
}
